# Program
ENVIRONMENT=development

# DB
DATABASE_URL=postgresql://username:password@localhost:5432/stock_intelligence
DB_HOST=localhost
DB_PORT=5432
DB_NAME=stock_intelligence
DB_USER=username
DB_PASSWORD=password
